---
BasedOnStyle: Google
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros: false
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignEscapedNewlines: Left
AlignOperands: false
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllConstructorInitializersOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
BreakStringLiterals: false
ColumnLimit: 120
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: false
DerivePointerAlignment: false
DisableFormat: false
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: false
IncludeBlocks: Preserve
IndentCaseLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: true
Language: Cpp
MaxEmptyLinesToKeep: 4
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 999
PointerAlignment: Left
ReflowComments: false
SortIncludes: true
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
PackConstructorInitializers: CurrentLine
TabWidth: 4
UseTab: Always
IncludeCategories:
  - Regex:           '.*\.generated\.h'
    Priority:        100
  - Regex:           '"CoreMinimal.h"'
    Priority:        0
  - Regex:           '".*"'
    Priority:        1
  - Regex:           '^<.*\.'
    Priority:        3
  - Regex:           '^<.*>'
    Priority:        4

# custom settings

# OneLineMacros:
# [
#   'UPROPERTY',
#   'UFUNCTION',
#   'UCLASS',
#   'USTRUCT',
#   'UENUM',
#   'UINTERFACE',
#   'GENERATED_BODY',
#   'DECLARE_DELEGATE',
#   'DECLARE_MULTICAST_DELEGATE',
#   'DECLARE_EVENT',
#   'DECLARE_DYNAMIC_DELEGATE',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE',
#   'DECLARE_DELEGATE_RetVal',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal',
#   'DECLARE_DELEGATE_OneParam',
#   'DECLARE_MULTICAST_DELEGATE_OneParam',
#   'DECLARE_EVENT_OneParam',
#   'DECLARE_DYNAMIC_DELEGATE_OneParam',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE_OneParam',
#   'DECLARE_DELEGATE_RetVal_OneParam',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal_OneParam',
#   'DECLARE_DELEGATE_TwoParams',
#   'DECLARE_MULTICAST_DELEGATE_TwoParams',
#   'DECLARE_EVENT_TwoParams',
#   'DECLARE_DYNAMIC_DELEGATE_TwoParams',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE_TwoParams',
#   'DECLARE_DELEGATE_RetVal_TwoParams',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal_TwoParams',
#   'DECLARE_DELEGATE_ThreeParams',
#   'DECLARE_MULTICAST_DELEGATE_ThreeParams',
#   'DECLARE_EVENT_ThreeParams',
#   'DECLARE_DYNAMIC_DELEGATE_ThreeParams',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE_ThreeParams',
#   'DECLARE_DELEGATE_RetVal_ThreeParams',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal_ThreeParams',
#   'DECLARE_DELEGATE_FourParams',
#   'DECLARE_MULTICAST_DELEGATE_FourParams',
#   'DECLARE_EVENT_FourParams',
#   'DECLARE_DYNAMIC_DELEGATE_FourParams',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE_FourParams',
#   'DECLARE_DELEGATE_RetVal_FourParams',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal_FourParams',
#   'DECLARE_DELEGATE_FiveParams',
#   'DECLARE_MULTICAST_DELEGATE_FiveParams',
#   'DECLARE_EVENT_FiveParams',
#   'DECLARE_DYNAMIC_DELEGATE_FiveParams',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE_FiveParams',
#   'DECLARE_DELEGATE_RetVal_FiveParams',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal_FiveParams',
#   'DECLARE_DELEGATE_SixParams',
#   'DECLARE_MULTICAST_DELEGATE_SixParams',
#   'DECLARE_EVENT_SixParams',
#   'DECLARE_DYNAMIC_DELEGATE_SixParams',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE_SixParams',
#   'DECLARE_DELEGATE_RetVal_SixParams',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal_SixParams',
#   'DECLARE_DELEGATE_SevenParams',
#   'DECLARE_MULTICAST_DELEGATE_SevenParams',
#   'DECLARE_EVENT_SevenParams',
#   'DECLARE_DYNAMIC_DELEGATE_SevenParams',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE_SevenParams',
#   'DECLARE_DELEGATE_RetVal_SevenParams',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal_SevenParams',
#   'DECLARE_DELEGATE_EightParams',
#   'DECLARE_MULTICAST_DELEGATE_EightParams',
#   'DECLARE_EVENT_EightParams',
#   'DECLARE_DYNAMIC_DELEGATE_EightParams',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE_EightParams',
#   'DECLARE_DELEGATE_RetVal_EightParams',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal_EightParams',
#   'DECLARE_DELEGATE_NineParams',
#   'DECLARE_MULTICAST_DELEGATE_NineParams',
#   'DECLARE_EVENT_NineParams',
#   'DECLARE_DYNAMIC_DELEGATE_NineParams',
#   'DECLARE_DYNAMIC_MULTICAST_DELEGATE_NineParams',
#   'DECLARE_DELEGATE_RetVal_NineParams',
#   'DECLARE_DYNAMIC_DELEGATE_RetVal_NineParams',
#   'UE_VLOG',
#   'UE_CVLOG',
#   'UE_VLOG_UELOG',
#   'UE_CVLOG_UELOG',
#   'UE_VLOG_ALWAYS_UELOG',
#   'UE_VLOG_SEGMENT',
#   'UE_CVLOG_SEGMENT',
#   'UE_VLOG_SEGMENT_THICK',
#   'UE_CVLOG_SEGMENT_THICK',
#   'UE_VLOG_LOCATION',
#   'UE_CVLOG_LOCATION',
#   'UE_VLOG_SPHERE',
#   'UE_CVLOG_SPHERE',
#   'UE_VLOG_WIRESPHERE',
#   'UE_CVLOG_WIRESPHERE',
#   'UE_VLOG_BOX',
#   'UE_CVLOG_BOX',
#   'UE_VLOG_WIREBOX',
#   'UE_CVLOG_WIREBOX',
#   'UE_VLOG_OBOX',
#   'UE_CVLOG_OBOX',
#   'UE_VLOG_WIREOBOX',
#   'UE_CVLOG_WIREOBOX',
#   'UE_VLOG_CONE',
#   'UE_CVLOG_CONE',
#   'UE_VLOG_WIRECONE',
#   'UE_CVLOG_WIRECONE',
#   'UE_VLOG_CYLINDER',
#   'UE_CVLOG_CYLINDER',
#   'UE_VLOG_WIRECYLINDER',
#   'UE_CVLOG_WIRECYLINDER',
#   'UE_VLOG_CAPSULE',
#   'UE_CVLOG_CAPSULE',
#   'UE_VLOG_WIRECAPSULE',
#   'UE_CVLOG_WIRECAPSULE',
#   'UE_VLOG_HISTOGRAM',
#   'UE_CVLOG_HISTOGRAM',
#   'UE_VLOG_PULLEDCONVEX',
#   'UE_CVLOG_PULLEDCONVEX',
#   'UE_VLOG_MESH',
#   'UE_CVLOG_MESH',
#   'UE_VLOG_CONVEXPOLY',
#   'UE_CVLOG_CONVEXPOLY',
#   'UE_VLOG_ARROW',
#   'UE_CVLOG_ARROW',
#   'UE_VLOG_CIRCLE',
#   'UE_CVLOG_CIRCLE',
#   'UE_VLOG_CIRCLE_THICK',
#   'UE_CVLOG_CIRCLE_THICK',
# ]
# BreakBeforeMacros:
# [
#   'UCLASS',
#   'USTRUCT',
#   'UENUM',
#   'UINTERFACE',
# ]
# IgnoredTokens:
# [
#   'SNew',
# ]
